In [ ]:
print("Twinkle, twinkle, little star,\n\t How I wonder what you are! \n\t\t Up above the world so high,\n\t\t Like a diamond in the sky.\n Twinkle, twinkle, little star,\n\t How I wonder what you are")

Twinkle, twinkle, little star,
	 How I wonder what you are!
		 Up above the world so high,
		 Like a diamond in the sky.
 Twinkle, twinkle, little star,
	 How I wonder what you are

In [ ]:
animal = 'abacabC'
dinosaur = 'bc'
count = 1
for i in range(len(animal)):
    for j in range(len(dinosaur)):
        if j == i :
            count += 1
print(count)

3

In [ ]:
a = [6,7,8,1,4]
x = sorted(a)
print(x[-1])

8

**7. Write a Python program to accept a filename from the user and print the extension of that. Go to the editor
Sample filename : abc.java
Output : java**

In [ ]:
filename = input("Input the Filename: ")
f_extns = filename.split(".")
print ("extension file:",f_extns[-1])

Input the Filename: abc.py
extension file: py

**8. Write a Python program to display the first and last colors from the following list.
color_list = ["Red","Green","White" ,"Black"].**

In [ ]:
color= ["Red","Green","White" ,"Black"]
print(color[0],color[3])

Red Black

**9. Write a Python program to display the examination schedule. (extract the date from exam_st_date).exam_st_date = (11, 12, 2014)
Sample Output : The examination will start from : 11 / 12 / 2014**

In [ ]:
exam= (11, 12, 2014)
print(exam[0],"/",exam[1],"/",exam[2])

11 / 12 / 2014

In [ ]:
n=int(input("enter:"))
a=n+n**2+n**3
print(a)

enter:5
155

**14. Write a Python program to calculate number of days between two dates.
Sample dates : (2014, 7, 2), (2014, 7, 11)
Expected output : 9 days**

In [ ]:
sample= ((2014, 7, 2), (2014, 7, 11))
a=sample[0][2]
b=sample[1][2]
c=b-a
print(c,"days")

9 days

**15. Write a Python program to get the volume of a sphere with radius 6.**

In [ ]:
r=int(input("enter the radius:"))
V = 4/3*3.14 * r**3
print(V)

enter the radius:6
904.3199999999999

**16. Write a Python program to get the difference between a given number and 17, if the number is greater than 17 return double the absolute difference.**

In [ ]:
n=int(input("enter the number:"))
a=n-17
if n>17:
  print(2*a)
else:
  print(a)

enter the number:20
6

**18. Write a Python program to calculate the sum of three given numbers, if the values are equal then return three times of their sum.**

In [ ]:
def sum(x,y,z):
  if x==y==z:
    return ((x+y+z)**3)
  else:
    return (x+y+z)
x=int(input("enter:"))
y=int(input("enter:"))
z=int(input("enter:"))
print(sum(x,y,z))

enter:1
enter:1
enter:1
27

**19. Write a Python program to get a new string from a given string where "Is" has been added to the front. If the given string already begins with "Is" then return the string unchanged**

In [ ]:
def s(n):
  for i in range(len(n[:2])):
    if "Is" not in n:
      return "Is"+n
    else:
      return n
n=input("enter:")
print(s(n))

enter:kilmh
Iskilmh

**22. Write a Python program to count the number 4 in a given list.**

In [ ]:
def c(l1):
  count=0
  for num in l1:
    if num==4:
      count +=1
  return count
l1=[1,4,2,4,5,4,6,8,3]
print(c(l1))

3

**23. Write a Python program to get the n (non-negative integer) copies of the first 2 characters of a given string. Return the n copies of the whole string if the length is less than 2**

In [ ]:
n=input("enter:")
a=int(input("enter:"))
b=n[:2]
for i in range(0,a):
  print(b,end="")

enter:p
enter:3
ppp

**Write a Python program to check whether a specified value is contained in a group of values.**

In [ ]:
def c(l1):
  if a in l1:
    return True
  else:
    return False
l1=[]
n=int(input("enter the range of list:"))
for i in range(n):
  e=int(input("enter the elements:"))
  l1.append(e)
a=int(input("enter the number which u have to find in list:"))
print(c(l1))

enter the range of list:5
enter the elements:1
enter the elements:2
enter the elements:3
enter the elements:4
enter the elements:5
enter the number which u have to find in list:6
False

**Write a Python program to create a histogram from a given list of integers.**

In [ ]:
def histogram( items ):
  for n in items:
    output = ''
    t = n
    while( t > 0 ):
      output += '*'
      t -=1
    print(output)

histogram([2, 3, 6, 5])

**
***
******
*****

**27. Write a Python program to concatenate all elements in a list into a string and return it.**

In [ ]:
l1=[1,2,3,4,5,6]
for n in l1:
  print(n,end='')

123456

**28. Write a Python program to print all even numbers from a given numbers list in the same order and stop the printing if any numbers that come after 237 in the sequence.Sample numbers list :**

**numbers = [386, 462, 47, 418, 907, 344, 236, 375, 823, 566, 597, 978, 328, 615, 953, 345, 399, 162, 758, 219, 918, 237, 412, 566, 826, 248, 866, 950, 626, 949, 687, 217, 815, 67, 104, 58, 512, 24, 892, 894, 767, 553, 81, 379, 843, 831, 445, 742, 717, 958,743, 527]**

In [ ]:
numbers = [
    386, 462, 47, 418, 907, 344, 236, 375, 823, 566, 597, 978, 328, 615, 953, 345,
    399, 162, 758, 219, 918, 237, 412, 566, 826, 248, 866, 950, 626, 949, 687, 217,
    815, 67, 104, 58, 512, 24, 892, 894, 767, 553, 81, 379, 843, 831, 445, 742, 717,
    958,743, 527
    ]

for x in numbers:
    if x == 237:
        print(x)
        break;
    elif x % 2 == 0:
        print(x)

386
462
418
344
236
566
978
328
162
758
918
237

**29. Write a Python program to print out a set containing all the colors from color_list_1 which are not present in color_list_2. Go to the editor
Test Data :
color_list_1 = set(["White", "Black", "Red"])
color_list_2 = set(["Red", "Green"])
Expected Output :
{'Black', 'White'}**

In [ ]:
l1 = set(["White", "Black", "Red"])
l2= set(["Red", "Green"])
s1=set(l1)
s2=set(l2)
mylist=s1.difference(s2)
print(mylist)

{'Black', 'White'}

**31. Write a Python program to compute the greatest common divisor (GCD) of two positive integers.**

In [ ]:
def gcd(x, y):
  gcd = 1
  if x % y == 0:
    return y
  for k in range(int(y / 2), 0, -1):
    if x % k == 0 and y % k == 0:
      gcd = k
      break
  return gcd
x=int(input('enter:'))
y=int(input('enter:'))
print("GCD of",x,'&',y,"=",gcd(x, y))

enter:4
enter:6
GCD of 4 & 6 = 2

In [ ]:
a=int(input("enter:"))
b=int(input("enter:"))
for i in range(int(max(a,b)/2),0,-1):
  if a % i ==0 and b % i == 0:
    gcd=i
    break
print(gcd)

enter:4
enter:6
2

In [ ]:
max(4,5)

5

**32. Write a Python program to get the least common multiple (LCM) of two positive integers**

In [ ]:
def lcm(x, y):
  if x > y:
      z = x
  else:
      z = y
  while(True):
      if((z % x == 0) and (z % y == 0)):
          lcm = z
          break
      z += 1
  return lcm
x=int(input("enter:"))
y=int(input("enter:"))
print("LCM of",x,"&",y,"=",lcm(x,y))

enter:4
enter:6
LCM of 4 & 6 = 12

 **Write a Python program that will return true if the two given integer values are equal or their sum or difference is 5**

In [ ]:
def d(x,y):
  if x==y:
    return True
  if x-y==5 or x+y==5:
    return True
  else:
    return False
x=int(input("enter:"))
y=int(input("enter:"))
print(d(x,y))

enter:5
enter:0
True

In [ ]:
import threading
lock=threading.Lock()
with lock:
  print ("critical section 1")
  print ("critical section 2")

critical section 1
critical section 2

In [ ]:
textfile = open("reverse.txt")
lines = textfile. readlines()
for line in reversed(lines):
  print(line)

gayi
am

hi

In [ ]:
a=int(input("Enter the first number :"))
b=int(input("Enter the second number :"))
print ("a=",a, "b=",b)
(a,b)=(b,a)
print("a=",a, "b=",b)

Enter the first number :1
Enter the second number :2
a= 1 b= 2
a= 2 b= 1

In [ ]:
def digit(num):
  onesdigit=num%10
  return onesdigit
num=int(input())
print(digit(num))

156
6

***nth number**

In [ ]:
n=int(input(""))
a=0
b=1
for i in range(1,n+1):
    c=a+b
    a=b
    b=c
    i=i+1
print("output=",a)

5
output= 5

In [ ]:
a = 1
b = 1
n = int(input( ))
if n <= 0 :
    print("Not possible")
if n == 1 :
    print(a)
else :
    for i in range(3,n+1) :
        c = a+b
        a = b
        b = c
    print("output=",c)

5
output= 5

**number of occrence**

In [ ]:
def f(n):
  s1=[]
  if len(l1)==0:
    return 0
  for num in l1:
    s1.append(l1.count(num))
    l1.remove(num)
    return max(s1)
l1=[]
n=int(input())
for i in range(0,n):
  e=int(input())
  l1.append(e)
print("output=",f(n))

5
1
4
1
7
1
output= 3

**detect**

In [ ]:
def d(a):
  l1=[]
  for i in range(len(a)):
    if a[i] in l1:
      return a[i]
    else:
      l1.append(a[i])
print("output=",d([1,1,6,5,1,2]))

output= 1

**fizzbuzz**

In [ ]:
n=int(input("enter the number:"))
l1=[]
for i in range(1,n+1):
  l1.append(str(i))
for i in range(len(l1)):
  if int(l1[i])%3==0 and int(l1[i])%5==0:
    l1[i]='fizzbuzz'
  elif int(l1[i])%3==0:
    l1[i]='fizz'
  elif int(l1[i])%5==0:
    l1[i]='buzz'
print(l1)

**validating orders**

In [ ]:
def order(l1):
  a={}
  if len(set(l1)) != len(l1):
    return False
  for i in l1:
    if i[0]=='p':
      a[i[1:]]=1
    elif i[0]=="d":
      if i[1:] not in a:
        return False
      else:
        a[i[1:]] -=1
  return sum(a.values())==0
n=int(input("enter the length of list:"))
l1=[]
for i in range(0,n):
  e=input("enter:")
  l1.append(e)
print(order(l1))

**bike**

In [ ]:
l1=[]
n=int(input("enter how many elements in list:"))
for j in range(0,n):
  e=int(input("enter elements:"))
  l1.append(e)
count=0
k=int(input("enter the price budget:"))
for i in l1:
  if i <= k:
    count +=1
  else:
    count +=0
print(count)

**anagram**

In [ ]:
s1=input("enter the string:")
s2=input("enter the number:")
if (sorted(s1)==sorted(s2)):
  print('true')
else:
  print('false')

**string lenght**

In [ ]:
ls=input("enter:")
l1=[]
l1.append(ls[1:-1])
if len(l1)>1:
  l1.append(l1[0][1:-1])
else:
  len(l1)==0
print(len(l1))

**stack**

In [ ]:
def solve(ops):
    stack = []
    try:
        for n in ops:
            if n == "DUP":
                stack.append(stack[-1])
            elif n == "POP":
                stack.pop()
            elif n == "-":
                stack.append(stack.pop() - stack.pop())
            elif n == "+":
                stack.append(stack.pop() + stack.pop())
            else:
                stack.append(int(n))
        return stack[-1]
    except:
        return -1
ops = ["1", "5", "DUP", "3", "-"]
res = solve(ops)
print(res)

**add number**

In [ ]:
def add(l1):
  for i in range (0,len(l1)):
    for j in range(0,len(l1)):
      if l1[i]+l1[j]==k:
        return True
  return False
l1=[8,3,2,6,1]
k=int(input("enter the number:"))
print(add(l1))

**email**

In [ ]:
import sys, re
n = int(input())
a = [input() for i in range(n)]
print(sorted([s.strip() for s in a if re.match(r'^[a-zA-Z0-9_-]+@[a-zA-Z0-9]+\.[a-zA-Z0-9]{1,3}$', s)]))

In [ ]:
/*
	Time Complexity: O(N ^ 2)
	Space Complexity: O(1)

	Where N is the total number of elements in the given array.
*/

import java.util.ArrayList;
import java.lang.Math;

public class Solution
{
    public static int minimumSwaps(ArrayList<Integer> arr, int n, int k)
    {
        int answer = n;
	    int count = 0;

	    // Count elements less than or equal to k
	    for (int i = 0; i < n; i++)
	    {
		    if (arr.get(i) <= k)
		    {
			   count++;
		    }
	    }

	    // Calculate minimum swaps for each window of size count and update answer
	    for (int i = 0; i <= (n - count); i++)
	    {
		    int currentMin = 0;
		    for (int j = i; j < (i + count); j++)
		    {
			    if (arr.get(j) > k)
			    {
				    currentMin++;
			    }
		    }
		    answer = Math.min(answer, currentMin);
	    }

	    return answer;
    }
}

In [ ]:
'''
    Time Complexity: O(N ^ 2)
    Space Complexity: O(1)

    Where N is the number of elements in the array.
'''

def minimumSwaps(arr, n, k):
    (answer, count) = (n, 0)

    # Count elements less than or equal to k

    for i in range(n):
        if arr[i] <= k:
            count += 1

    # Calculate minimum swaps for each window of size count and update answer

    for i in range(n - count + 1):
        currentMin = 0

        for j in range(i, i + count):
            if arr[j] > k:
                currentMin += 1

        answer = min(answer, currentMin)

    return answer

In [ ]:
# Python3 Program to find the minimum number of
# adjacent swaps to arrange similar items together

# Function to find minimum swaps
def findMinimumAdjacentSwaps(arr, N) :

    # visited array to check if value is seen already
    visited = [False] * (N + 1)

    minimumSwaps = 0

    for i in range(2 * N) :

        # If the arr[i] is seen first time
        if (visited[arr[i]] == False) :
            visited[arr[i]] = True

            # stores the number of swaps required to
            # find the correct position of current
            # element's partner
            count = 0

            for j in range( i + 1, 2 * N) :

                # Increment count only if the current
                # element has not been visited yet (if is
                # visited, means it has already been placed
                # at its correct position)
                if (visited[arr[j]] == False) :
                    count += 1

                # If current element's partner is found
                elif (arr[i] == arr[j]) :
                    minimumSwaps += count

    return minimumSwaps


# Driver Code
if __name__ == "__main__" :

    arr = [ 1, 1, 1, 1, 1, 1]
    N = len(arr)
    N //= 2

    print(findMinimumAdjacentSwaps(arr, N))

0